/* style css */

html, body {
  height: 100%;
}

/* form */
@media(max<768px) {
#wrap {
  display:flex;
  flex-direction:column;
}
}
#footer-main {
  background:pink;
  color:white;
  font-size:0.8rem;
  padding:2.5rem 0;
}
